* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: relative;
}

.header_top {
    height: 40px;
    background-color: black;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.header_right {
    width: 50%;
    line-height: 40px;
}

.header_ma {
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 150px;
}

.header_logo {
    list-style: none;
    line-height: 40px;
    width: 50%;
    margin-left: 36%;
}

.header_phone {
    margin: 0 17px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.header_icon {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 4px;
}

.header_facebook {
    background-color: rgb(58 88 157);
    padding: 5px 6px 5px 11px;
}

.header_instagram {
    background-color: #cb2950;
    padding: 5px 4px 5px 7px;
}

.header_twitter {
    background-color: #2478ba;
    padding: 5px 2px 5px 7px;
}

.header_youtube {
    color: red;
    background-color: white;
    padding: 5px 6px 5px 6px;
}

.header_logo_img {
    background-color: white;
    display: flex;
    height: 85px;
    padding-top: 2px;
    position: fixed;
    right: 0;
    left: 0;
    top: 40px;
}

.header_logo_TTKN {
    width: 80px;
    margin-left: 200px;
}

.header_search {
    background-color: rgb(245 245 245);
    height: 35px;
    margin-left: 200px;
    width: 400px;
    margin-top: 20px;
    border-radius: 20px;
}

.header_search_input {
    background-color: rgb(245 245 245);
    border: none;
    outline: none;
    margin-left: 20px;
    font-size: 14px;
}

.header_search_icon {
    height: 35px;
    outline: none;
    border: none;
    margin-left: 173px;
    background-color: rgb(245 245 245);
    cursor: pointer;
    color: black;
}

.header_search_icon_color {
    color: black;
}

.header_cart {
    margin-left: 70px;
    margin-top: 18px;
}

.header_cart_text {
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    color: #000;
}

.header_cart_logo {
    font-size: 30px;
    margin-left: 10px;
    color: #000;
}

.header_login {
    margin-left: 10px;
    margin-top: 30px;
}

.header_login_text {
    font-weight: 600;
    font-size: 16px;
    margin-left: 15px;
    margin-top: 20px;
    color: black;
}

.header_home_text span {
    color: #777;
}

.header_home_text span:hover {
    color: #000;
}

.header_home_text:hover {
    cursor: pointer;
}

#home {
    color: #000;
}

.header_home {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 125px;
}

.header_home_text {
    color: black;
    height: 60px;
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 550;
    padding-right: 30px;
}

.content_home {
    background-color: black;
    height: 2000px;
}

.content_phone {
    background: red;
    height: 500px;
    display: none;
}

.content_tablet {
    background: yellow;
    height: 500px;
    display: none;
}

.content_phukien {
    background: green;
    height: 500px;
    display: none;
}

.content_oldphone {
    background: cyan;
    height: 500px;
    display: none;
}

.content_contact {
    background: pink;
    height: 500px;
    display: none;
}